.mastheader{background:#b46ae3; grid-area:header;}
.page-title{background:#51a7fa; grid-area:title;}
.main-content{
  background:#70bf40; grid-area:main; min-height:500px;
}
.sidebar{background:#f49018; grid-area:sidebar;}
.footer{background:#0265c0; grid-area:footer;}

.site{
  display:grid;
  grid-template-columns:2fr 1fr; grid-gap:10px;
  grid-template-areas:"header header"
                                     "title       sidebar"
                                     "main     sidebar"
                                     "footer   footer";
}

